#mainHeader h1 {
    font-size: 3em;
    padding: 10px 0 10px 3em;
    background-image: url('/content/images/logo.png');
    background-repeat: no-repeat;
    background-size: 2em;
    background-position: 20px 0;
}

    #mainHeader h1 a, #mainHeader h1 a:hover, #mainHeader h1 a:visited {
        text-decoration: none;
    }

#search-and-filter {
    margin: 20px 0;
}

    #search-and-filter #searchBox {
        margin-right: 10px;
    }

.hotelsTable tr:first-child th {
    background-color: rgba(0, 109, 204, 0.74);
    color: #fff;
    font-weight: bold;
}

.hotelsTable .removeHotel {
    cursor: pointer;
}

#footer {
    padding: 10px 25px;
}


/* starts rating*/
span.stars, span.stars span {
    display: block;
    background: url('/content/images/stars.png') 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

    span.stars span {
        background-position: 0 0;
    }

/* Override bootstrap styles*/
.form-control {
    width: inherit;
}
